# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore configuration files with sensitive information
config.json

# Ignore log files
*.csv

# Ignore virtual environment directory
venv/

# Ignore system files
.DS_Store
Thumbs.db
